*.aux
*.bbl
*.blg
*.log
*.dvi
*.ilg
*.ind
*.lof
*.lot
*.out
*.ps
*.toc
*.swp
ModeloCartaRenunciaCopyright.docx
Referencias x Revisar/
Referencias/
bases_de_datos.txt
tesis.pdf
tecnicas.anotations
tikzuml-v1.0-2016-03-29.tbz
tikzuml-v1.0-2016-03-29/
